@model Home_Library.Models.LibraryViewModel

@{
    ViewData["Title"] = Model.Name;
}

<partial name="_header" />

@if(Model.Style == "Table" || Model.Style == null)
{
    <table class="table table-hover is-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Games![0].Title)</th>
                <th>@Html.DisplayNameFor(model => model.Games![0].Developer)</th>
                <th>@Html.DisplayNameFor(model => model.Games![0].Publisher)</th>
                <th>@Html.DisplayNameFor(model => model.Games![0].Platform)</th>
                <th>@Html.DisplayNameFor(model => model.Games![0].ReleaseDate)</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Games!.Count > 0)
            {
                foreach (var item in Model.Games!)
                {
                    <tr>
                        <td><a class="titleLink" asp-controller="Games" asp-action="Details" asp-route-id="@item.Id">@item.Title</a></td>
                        <td>@item.Developer</td>
                        <td>@item.Publisher</td>
                        <td>@item.Platform</td>
                        <td>@item.ReleaseDate.ToString("yyyy-MM-dd")</td>
                    </tr>
                }
            } else
            {
                <tr style="text-align: center">
                    <td colspan="5">No data available</td>
                </tr>
            }
        </tbody>
    </table>
} else if (Model.Style == "Grid") {

    <div class="row">
    @foreach(var item in Model.Games!)
    {
        @if(!System.IO.File.Exists("wwwroot"+item.CoverPath)) {item.CoverPath = "\\Images\\covers\\_blank.jpg";}

        <div class="col-sm-4">
            <div class="card card-game gridItem">
                <div class="card-body">
                    <span class="cover"><img class="coverImg" src="@item.CoverPath"></span>
                    <br>
                    <h5 class="card-title"><a class="titleLink" asp-controller="Games" asp-action="Details" asp-route-id="@item.Id">@item.Title</a></h5>
                    <p class="card-text">
                        <span>@item.Developer \ @item.Publisher</span><br>
                        <span>Release date: @item.ReleaseDate.ToString("yyyy-MM-dd")</span><br>
                        <span>Platform: @item.Platform</span>
                    </p>
                </div>
            </div>
        </div>
    }
    </div>
}


@if((Model.Games!.Count < 1) && (Model.Style == "Grid"))
{
    <div style="text-align: center;"><p>No data available</p></div>
}